body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("images/luft-foto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 286px;
  padding-bottom: 286px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  color: #272044;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  padding: 16px 32px 16px 32px;
  display: inline-block;
  margin: 32px auto;
}

@media (max-width: 900px) {
  header {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
